@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.react-flow {
  overflow: auto !important;
  min-height: 100vh !important;
}

.react-flow__nodeWithModaltip {
  font-size: 10px;
  width: 180px;
  background: #f5f5f6;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 2px;
}

.react-flow__node-custom .react-flow__handle {
  top: 24px;
  right: -15px;
  width: 6px;
  height: 10px;
  border-radius: 2px;
  background-color: #778899;
}

.react-flow__node.circle {
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.react-flow__node.heading {
  background: steelblue;
  color: white;
  text-transform: uppercase;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.react-flow__node.annotation {
  border-radius: 0;
  text-align: left;
  background: white;
  border: none;
  line-height: 1.4;
  width: 225px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
}

.react-flow__node.annotation .react-flow__handle {
  display: none;
}

.custom-node__header {
  padding: 8px 10px;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  justify-content: space-between;
}

.custom-node__body {
  padding: 10px;
}

.custom-node__select {
  position: relative;
  margin-bottom: 10px;
}

.custom-node__select select {
  width: 100%;
  margin-top: 5px;
  font-size: 10px;
}


.expand-frame {
  border: solid 1px rgb(0, 0, 0);
  border-radius: 8px;
  overflow: auto;
}

.expand-frame>.custom-node__header {
  background-color: white;
  width: 100%;
}

.expand-anim {
  transition-duration: 0.3s;
}

ul li {
  list-style: disc;
  margin-left: 10px;
}

ul li a {
  text-decoration: underline;
  color: steelblue;
}

input,
textarea {
  border: solid 1px rgba(0, 0, 0, 0.125);
  width: 100%;
  border-radius: 8px;
  padding: 8px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

button {
  transition-duration: 0.2s;
  background: steelblue;
  border-radius: 4px;
  color: #fff;
}

button:hover {
  transform: scale(1.125);
}

.button {
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.125);
}

.react-flow__node.selected, .selected-node {
  border-color: steelblue;
}

.tab-selector {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
}

.tab-selector .value {
  display: flex;
  flex-direction: row;
  padding: 4px;
  background: steelblue;
  border-radius: 4px;
  border: rgba(0,0,0, 0.7);
  width: fit-content;
}

.tab-selector .label, .label {
  display: flex;
  width: fit-content;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #778899;
  margin-right: 8px;
}

.tab-selector .tab-item {
  display: flex;
  margin: 0 2px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}

.tab-selector .tab-item:hover, .tab-selector .tab-item.active:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  background: transparent;
  color: #000;
  font-size: 16px;
  line-height: 18px;
}

.tab-selector .tab-item.active {
  background: rgba(255, 255, 255, 1);
  color: steelblue;
}

select {
  min-width: 150px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.125);
  padding: 8px;
}

.select-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.drawing-left-bar {
  display: flex;
  flex-direction: row;
}

.drawing-bar-item {
  display: flex;
  padding: 8px;
  background: rgba(0,0,0, 0.7);
  border: solid 1px rgba(0,0,0, 0.75);
  border-radius: 4px;
  align-items: center;
  margin: 4px 8px;
}

.field {
  margin: 8px 0;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: steelblue;
}