.loadingPage {
  position: fixed;
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  animation: disappear 12s infinite;
  >.relative {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    >.left {
      background: rgba(0, 0, 0, 0.9);
      animation: slide-from-left 1.2s ease-in-out;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    >.right {
      background: rgba(0, 0, 0, 0.9);
      animation: slide-from-right 1.2s ease-in-out;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    >.absolute {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      >.circle {
        width: 430px;
        height: 430px;
        border-radius: 50%;
        background-color: #FFDE59;
        animation: circle-down 0.6s ease-in-out;
        justify-content: center;
        align-items: center;
        >.circle2 {
          background-color: #494F56;
          width: 420px;
          height: 420px;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          animation: circle-2-appear 1.2s ease-in-out;
          position: relative;
          >.halfCircleWrap, >.rotate {
            display: flex;
            justify-content: flex-end;
            background: transparent;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 50%;
            >.halfCircle {
              width: 50%;
              height: 100%;
              border-top-right-radius: 100%;
              border-bottom-right-radius: 100%;
              background-color: #6CE5E8;
              transform: rotate(-5deg) scale(1.1);
              animation: circle-3-appear 1.8s ease-in-out;
            }
          }
          >.rotate {
            animation: rotate 3s infinite;
          }
          >.circle4 {
            position: absolute;
            background-color: #FFDE59;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            animation: circle-2-appear 1.2s ease-in-out;
            >.iconWrapper {
              position: relative;
              width: 100%;
              height: 100%;
              >.icon1 {
                position: absolute;
                left: 40%;
                animation: icon-1-appear 2.4s ease-in-out;
              }
              >.icon2, >.icon2Rotate {
                position: absolute;
                left: 46%;
                top: 4%;
                animation: icon-2-appear 2.4s ease-in-out;
              }
              >.icon2Rotate {
                animation: icon-2-rotate 100s infinite;
              }
              >.icon3 {
                position: absolute;
                left: 54%;
                top: 20%;
                animation: icon-3-appear 2.4s ease-in-out;
              }
              >.icon4 {
                position: absolute;
                left: 30%;
                top: 30%;
                animation: icon-4-appear 2.4s ease-in-out;
              }
              >.icon5 {
                position: absolute;
                left: 30%;
                top: 62%;
                animation: icon-5-appear 2.4s ease-in-out;
              }
              >.icon6, >.icon6Rotate {
                position: absolute;
                left: 28%;
                top: 73%;
                animation: icon-6-appear 2.4s ease-in-out;
              }
              >.icon6Rotate {
                animation: icon-6-rotate 100s infinite;
              }
              >.icon7 {
                position: absolute;
                left: 35%;
                top: 89%;
                animation: icon-7-appear 2.4s ease-in-out;
              }
              >.intelligent {
                position: absolute;
                left: 5%;
                top: 19%;
                animation: text-appear 2.8s ease-in-out;
              }
              >.map {
                position: absolute;
                left: 60%;
                top: 62%;
                animation: text-appear 2.8s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes icon-2-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(36000deg);
  }
}

@keyframes icon-6-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-36000deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes icon-1-appear {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: translateY(-50%);
  }
  80% {
    opacity: 1;
  }
}

@keyframes icon-2-appear {
  0% {
    opacity: 0;
  }
  64% {
    opacity: 0;
    transform: translateY(-50%);
  }
  84% {
    opacity: 1;
  }
}

@keyframes icon-3-appear {
  0% {
    opacity: 0;
  }
  68% {
    opacity: 0;
    transform: translateY(-50%);
  }
  88% {
    opacity: 1;
  }
}

@keyframes icon-4-appear {
  0% {
    opacity: 0;
  }
  72% {
    opacity: 0;
    transform: translateY(-50%);
  }
  92% {
    opacity: 1;
  }
}

@keyframes icon-5-appear {
  0% {
    opacity: 0;
  }
  76% {
    opacity: 0;
    transform: translateY(-50%);
  }
  96% {
    opacity: 1;
  }
}

@keyframes icon-6-appear {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes icon-7-appear {
  0% {
    opacity: 0;
  }
  84% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-appear {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes circle-3-appear {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes circle-2-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes circle-down {
  0% {
    opacity: 0;
    transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(100%);
    border-radius:0% 0% 0% 5%/0% 0% 0% 95%;
  }
  85% {
    transform: translateX(0);
    border-radius:0% 0% 0% 5%/0% 0% 0% 95%;
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
    border-radius:0% 0% 5% 0%/0% 0% 95% 0%;
  }
  85% {
    transform: translateX(0);
    border-radius:0% 0% 5% 0%/0% 0% 95% 0%;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}